<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <a href="#" class="subnav-toggle">(Expand/collapse all)</a>
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li>
                    <a href="/docs/providers/turbot/index.html">Turbot Provider</a>
                </li>
                <li>
                    <a href="#">Provider Data Sources</a>
                    <ul class="nav">
                        <li>
                            <a href="/docs/providers/turbot/d/policy.html">turbot_policy</a>
                        </li>
                        <li>
                            <a href="/docs/providers/turbot/d/resource.html">turbot_resource</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Folder</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/turbot/r/folder.html">turbot_folder</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Google Directory</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/turbot/r/google_directory.html">turbot_google_directory</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Grant</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/turbot/r/grant.html">turbot_grant</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Grant Activation</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/turbot/r/garnt_activation.html">turbot_grant_activation</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Local Directory</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/turbot/r/local_directory.html">turbot_local_directory</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Local Directory User</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/turbot/r/local_directory_user.html">turbot_local_directory_user</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Mod</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/turbot/r/mod.html">turbot_mod</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Policy Setting</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/turbot/r/policy_setting.html">turbot_policy_setting</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Profile</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/turbot/r/profile.html">turbot_profile</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">SAML Directory</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/turbot/r/saml_directory.html">turbot_saml_directory</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Shadow Resource</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/turbot/r/shadow_resource.html">turbot_shadow_resource</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resource</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/turbot/r/resource.html">turbot_resource</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Smart Folder</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/turbot/r/smart_folder.html">turbot_smart_folder</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Smart Folder Attachment</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/turbot/r/smart_folder_attachment.html">turbot_smart_folder_attachment</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Turbot Directory</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/turbot/r/turbot_directory.html">turbot_smart_folder_attachment</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>